* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}
body {
    padding: 20px;
    background-color: rgb(255, 242, 204);
}
.head {
    display: flex;
    justify-content: space-between;
}
.pageTitle {
    color: #595959;
    font-size: 60px;
    font-family: "Merriweather Sans";
    font-weight: bold;
}
.displayUser {
    font-size: 14px;
}
nav div {
    width: 100%;
    display: block;
    background-color: #fadd88;
}
ul.navbar {
    list-style-type: none;
    overflow: hidden;
    padding: 10px;
}
ul.navbar li {
    float: left;
    box-sizing: inherit;
    padding: 0px 10px 0px 10px;
}
li a {
    text-decoration: none;
    color: #595959;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.login {
    background-color: #fce5cdff;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
form.login input {
    margin: 10px 15px 10px 15px;
    padding: 5px;
    border: solid 0px #ffffff;
    font-size: 14px;
}
footer {
    background-color: grey;
}
button.order {
    background-color: pink;
    color: white;
    padding: 10px;
}


.large {
    display: block;
}
p {
    font-size: 2em;
    display: flex;
    color: #666;
}

.course {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.courseName {
    margin: 0.25em;
    font-size: 3em;
    font-weight: bold;
    color: #111;
}
.courseNum {
    margin: 0.25em;
    font-size: 3em;
    color: #da9512;
}

.small {
    display: none;
    font-size: 30vw;
    color: #f3cf8c;
}
@media (max-width: 500px) {
    body {
        background-color: rgb(23, 23, 23);
    }
    .large {
        display: none;
    }
    .small {
        display: block;
    }
}