@font-face {
    font-family: Pacifico;
    src: url("../fonts/Pacifico-Regular.ttf")
}
main.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.menu {
    padding: 10px;
    align-content: center;
    display: inline-block;
}
div.order {
    align-content: center;
}
.menu-option {
    display: inline-block;
    padding: 10px;
    border: solid 0px darkgreen;
    align-content: center;
}
.menu-option-title {
    font-family: "Pacifico";
    font-size: 24px;
    text-align: center;
    padding: 10px;
}
#make-order {
    padding: 10px;
}
#order-dialog {
    padding: 20px;
    background-color: #fadd88;
    margin: 100px;
}
