@font-face {
    font-family: Pacifico;
    src: url("../fonts/Pacifico-Regular.ttf")
}
main.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menu-container {
    padding: 10px;
    align-content: center;
    display: inline-block;
}
div.order {
    align-content: center;
}
.menu-option {
    display: inline-block;
    padding: 10px;
    border: solid 0px darkgreen;
    align-content: center;
}
.menu-option-title {
    font-family: "Pacifico";
    font-size: 24px;
    text-align: center;
    padding: 10px;
}
.menu-option-img {
    width: 300px;
    height: 300px;
}
.menu-option-count {

}
#make-order {
    padding: 10px;
}
#order-dialog {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #ffeeee;
    border: 0;
    border-radius: 10px;
}
.order-dialog-option-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.amount-input {
    display: block;
    max-width: 3em;
    max-height: 2.5em;
}
