table.orders {
     border: solid 2px #ead1dcff;
 }
table th, td {
    padding: 10px;
    text-align: center;
}
tr.headers, tr.headers th {
    background-color: #ead1dcff;
    border-color: #ead1dcff;
}