* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}
body {
    padding: 20px;
    background-color: rgb(255, 242, 204);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: fly-in 1s ease-out;
}
footer {
    background-color: grey;
}
button.order {
    background-color: pink;
    color: white;
    padding: 10px;
}
table.orders {
    border: solid 1px grey;
}
table th, td {
    padding: 10px;
    text-align: center;
}

.large {
    display: block;
}
.pageTitle {
    color: #595959;
    font-size: 60px;
    font-family: "Merriweather Sans";
    font-weight: bold;
}
.displayUser {
    font-size: 14px;
}
div.login {
    display: block;
    padding: 20px;
}

p {
    font-size: 2em;
    display: flex;
    color: #666;
}

.course {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.courseName {
    margin: 0.25em;
    font-size: 3em;
    font-weight: bold;
    color: #111;
}
.courseNum {
    margin: 0.25em;
    font-size: 3em;
    color: #da9512;
}

.small {
    display: none;
    font-size: 30vw;
    color: #f3cf8c;
}

@keyframes fly-in {
    0% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 500px) {
    body {
        background-color: rgb(23, 23, 23);
    }
    .large {
        display: none;
    }
    .small {
        display: block;
    }
}